In [131]:
import pandas as pd

In [132]:
df = pd.read_csv('player_game_data.csv')

df.head()

,nbagameid,gamedate,season,gametype,nbapersonid,player_name,nbateamid,team,team_name,opposingnbateamid,...,defensivepossessions,andones,teampoints,opponentteampoints,teamshotattempts,teamfgmade,teamfgattempted,teamturnovers,opponentteamfg2attempted,opponentteamfg3attempted
0,21700826,2018-02-10,2017,2,1627821,James Webb III,1610612751,BKN,Brooklyn Nets,1610612740,...,15,0,17,26,14,6,13,1,9,4
1,21700826,2018-02-10,2017,2,1626156,D'Angelo Russell,1610612751,BKN,Brooklyn Nets,1610612740,...,72,0,81,84,71,26,66,8,40,12
2,21700826,2018-02-10,2017,2,203917,Nik Stauskas,1610612751,BKN,Brooklyn Nets,1610612740,...,23,0,21,33,23,8,22,2,16,5
3,21700826,2018-02-10,2017,2,1626143,Jahlil Okafor,1610612751,BKN,Brooklyn Nets,1610612740,...,10,0,11,18,10,4,9,1,8,2
4,21700826,2018-02-10,2017,2,202391,Jeremy Lin,1610612751,BKN,Brooklyn Nets,1610612740,...,0,0,0,0,0,0,0,0,0,0

In [133]:
def cal_fantasy_points(df):
    points=0
    points += df['points']*1
    points+= df['assists']*1.5
    points+= (df['rebdefensive']+df['reboffensive'])*1.2
    points += (df['blocks']+df['steals'])*3
    points = points - df['turnovers']
    return points

In [134]:
df['fantasy_points'] = df.apply(cal_fantasy_points, axis=1)

In [149]:
df = df[df['missed']==0]
total_games=df.groupby(['player_name','season','missed'])['nbagameid'].nunique().reset_index(name='total_games')
total_games.sort_values(by='season',ascending=True)
total_games['total_games'].mean()

48.562244763535766

In [136]:
df[df['player_name']=='Julius Randle']

,nbagameid,gamedate,season,gametype,nbapersonid,player_name,nbateamid,team,team_name,opposingnbateamid,...,andones,teampoints,opponentteampoints,teamshotattempts,teamfgmade,teamfgattempted,teamturnovers,opponentteamfg2attempted,opponentteamfg3attempted,fantasy_points
839,21700816,2018-02-08,2017,2,203944,Julius Randle,1610612747,LAL,Los Angeles Lakers,1610612760,...,1,68,58,58,28,56,7,33,23,28.2
1658,21700684,2018-01-21,2017,2,203944,Julius Randle,1610612747,LAL,Los Angeles Lakers,1610612752,...,0,87,69,72,35,68,5,47,19,49.9
1983,21700590,2018-01-07,2017,2,203944,Julius Randle,1610612747,LAL,Los Angeles Lakers,1610612737,...,0,59,60,50,19,44,9,29,16,32.8
2249,21700804,2018-02-06,2017,2,203944,Julius Randle,1610612747,LAL,Los Angeles Lakers,1610612756,...,1,66,54,49,24,43,9,43,11,38.1
2944,21700673,2018-01-19,2017,2,203944,Julius Randle,1610612747,LAL,Los Angeles Lakers,1610612754,...,0,32,41,38,15,35,5,38,9,27.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432712,21700891,2018-02-24,2017,2,203944,Julius Randle,1610612747,LAL,Los Angeles Lakers,1610612758,...,1,95,75,78,34,73,9,53,20,40.4
432992,21700883,2018-02-23,2017,2,203944,Julius Randle,1610612747,LAL,Los Angeles Lakers,1610612742,...,1,84,57,61,34,56,10,29,26,45.6
433529,21700866,2018-02-15,2017,2,203944,Julius Randle,1610612747,LAL,Los Angeles Lakers,1610612750,...,1,65,82,59,25,55,10,44,10,42.8
433693,21700862,2018-02-14,2017,2,203944,Julius Randle,1610612747,LAL,Los Angeles Lakers,1610612740,...,2,68,92,59,29,58,14,46,22,29.5
434762,21700830,2018-02-10,2017,2,203944,Julius Randle,1610612747,LAL,Los Angeles Lakers,1610612742,...,2,94,102,67,35,63,11,43,23,41.1

In [137]:
df.sort_values(by='fantasy_points',ascending=False).head(10)

,nbagameid,gamedate,season,gametype,nbapersonid,player_name,nbateamid,team,team_name,opposingnbateamid,...,andones,teampoints,opponentteampoints,teamshotattempts,teamfgmade,teamfgattempted,teamturnovers,opponentteamfg2attempted,opponentteamfg3attempted,fantasy_points
352576,22200512,2022-12-27,2022,2,1629029,Luka Dončić,1610612742,DAL,Dallas Mavericks,1610612752,...,3,111,104,89,39,79,9,49,44,105.2
220374,22300608,2024-01-22,2023,2,203954,Joel Embiid,1610612755,PHI,Philadelphia 76ers,1610612759,...,2,104,93,83,37,71,4,39,32,104.1
171372,22200195,2022-11-13,2022,2,203954,Joel Embiid,1610612755,PHI,Philadelphia 76ers,1610612762,...,1,91,66,69,33,62,9,39,26,103.2
293479,21600010,2016-10-26,2016,2,203076,Anthony Davis,1610612740,NOP,New Orleans Pelicans,1610612743,...,0,89,92,89,32,79,10,52,21,99.5
7531,21700748,2018-01-30,2017,2,201935,James Harden,1610612745,HOU,Houston Rockets,1610612753,...,3,111,104,87,38,76,11,50,30,98.5
211020,22300405,2023-12-25,2023,2,1629029,Luka Dončić,1610612742,DAL,Dallas Mavericks,1610612756,...,0,118,102,88,41,76,11,43,36,96.7
651,21700692,2018-01-22,2017,2,202326,DeMarcus Cousins,1610612740,NOP,New Orleans Pelicans,1610612741,...,0,115,102,106,41,99,11,52,26,96.6
433119,21700879,2018-02-23,2017,2,203076,Anthony Davis,1610612740,NOP,New Orleans Pelicans,1610612748,...,5,100,103,89,39,85,12,74,12,96.4
130490,42000215,2021-06-15,2020,4,201142,Kevin Durant,1610612751,BKN,Brooklyn Nets,1610612749,...,2,114,108,83,38,77,10,51,32,96.4
179361,22300315,2023-12-13,2023,2,203507,Giannis Antetokounmpo,1610612749,MIL,Milwaukee Bucks,1610612754,...,4,117,88,79,37,66,12,45,30,96.3

In [138]:
total_fantasy_points_per_Player= df.groupby(['player_name','season'])['fantasy_points'].sum().reset_index().sort_values(by='fantasy_points',ascending=False)
total_fantasy_points_per_Player.head(10)

                player_name  season  fantasy_points
4642           LeBron James    2017          5780.9
6322      Russell Westbrook    2016          5249.4
3143           James Harden    2018          5174.5
5594           Nikola Jokic    2022          5100.8
6321      Russell Westbrook    2015          5064.6
3141           James Harden    2016          5059.0
4641           LeBron James    2016          4896.1
2538  Giannis Antetokounmpo    2018          4845.7
4640           LeBron James    2015          4758.0
3139           James Harden    2014          4731.1

In [139]:
total_fantasy_points_per_Player= df.groupby(['player_name'])['fantasy_points'].sum().reset_index().sort_values(by='fantasy_points',ascending=False)
total_fantasy_points_per_Player.head(10).sort_values(by='fantasy_points',ascending=False)
total_fantasy_points_per_Player[total_fantasy_points_per_Player['player_name']=='Julius Randle']

       player_name  fantasy_points
996  Julius Randle         23769.9

In [140]:
contract_df = pd.read_csv('nba_spotrac_data.csv')
contract_df.head(10)

,player,pos,age,contract_type,cap_hit,cap_hit_pct_league_cap,team,year
0,Kevin Garnett,PF,35.0,VET-EXT,"$21,247,044",36.61%,boston celtics,2011
1,Paul Pierce,SF,34.0,NaN,"$15,333,334",26.42%,boston celtics,2011
2,Rajon Rondo,PG,25.0,EXT,"$10,045,455",17.31%,boston celtics,2011
3,Ray Allen,SG,36.0,NaN,"$10,000,000",17.23%,boston celtics,2011
4,Jermaine O'Neal,C,33.0,NaN,"$6,226,000",10.73%,boston celtics,2011
5,Brandon Bass,PF,26.0,NaN,"$3,420,732",5.89%,boston celtics,2011
6,Chris Wilcox,PF,29.0,NaN,"$3,000,000",5.17%,boston celtics,2011
7,Avery Bradley,PG,21.0,RK,"$1,524,480",2.63%,boston celtics,2011
8,JaJuan Johnson,PF,22.0,RK,"$1,042,320",1.80%,boston celtics,2011
9,Sasha Pavlovic,SG,28.0,NaN,"$854,389",1.47%,boston celtics,2011

In [141]:
contract_df.rename(columns={'player': 'player_name','year':'season'}, inplace=True)
contract_df.head(5)

,player_name,pos,age,contract_type,cap_hit,cap_hit_pct_league_cap,team,season
0,Kevin Garnett,PF,35.0,VET-EXT,"$21,247,044",36.61%,boston celtics,2011
1,Paul Pierce,SF,34.0,NaN,"$15,333,334",26.42%,boston celtics,2011
2,Rajon Rondo,PG,25.0,EXT,"$10,045,455",17.31%,boston celtics,2011
3,Ray Allen,SG,36.0,NaN,"$10,000,000",17.23%,boston celtics,2011
4,Jermaine O'Neal,C,33.0,NaN,"$6,226,000",10.73%,boston celtics,2011

In [142]:
line_up = ["SG","PF","PG","SF","C"]
temp_df = contract_df[contract_df['pos']==line_up[0]]
temp_df.head(5)

,player_name,pos,age,contract_type,cap_hit,cap_hit_pct_league_cap,team,season
3,Ray Allen,SG,36.0,NaN,"$10,000,000",17.23%,boston celtics,2011
9,Sasha Pavlovic,SG,28.0,NaN,"$854,389",1.47%,boston celtics,2011
13,E'Twaun Moore,SG,22.0,RK,"$381,193",0.66%,boston celtics,2011
22,Jason Terry,SG,35.0,NaN,"$5,000,000",8.61%,boston celtics,2012
23,Courtney Lee,SG,27.0,S&T,"$5,000,000",8.61%,boston celtics,2012

In [150]:
df_list=[]
for pos_chosen in line_up:
    temp_df = contract_df[contract_df['pos']==pos_chosen]
    fant_table = pd.merge(total_fantasy_points_per_Player,temp_df,on='player_name')
    merged_df = pd.merge(fant_table, total_games[['player_name', 'season', 'total_games']], 
                         on=['player_name', 'season'], how='left')
    merged_df = merged_df[merged_df['total_games']>48.0]
    merged_df['fantasy_points']=(merged_df['fantasy_points']/merged_df['total_games']).round(2)
    df_list.append(merged_df)

In [152]:
df_list[1].sort_values(by='fantasy_points',ascending = False)

,player_name,fantasy_points,pos,age,contract_type,cap_hit,cap_hit_pct_league_cap,team,season,total_games
6,LeBron James,939.58,PF,36.0,Maximum,"$39,219,566",35.94%,los angeles lakers,2020,51.0
4,LeBron James,871.25,PF,34.0,Maximum,"$35,654,150",35.00%,los angeles lakers,2018,55.0
7,LeBron James,855.69,PF,37.0,Maximum-extension,"$41,180,544",36.63%,los angeles lakers,2021,56.0
9,LeBron James,674.91,PF,39.0,Maximum-extension,"$47,607,350",35.00%,los angeles lakers,2023,71.0
8,LeBron James,656.42,PF,38.0,Maximum-extension,"$44,474,988",35.97%,los angeles lakers,2022,73.0
...,...,...,...,...,...,...,...,...,...,...
1213,Jalen Slawson,0.29,PF,24.0,TW,-,-,sacramento kings,2023,80.0
1216,E.J. Liddell,0.26,PF,23.0,FA,"$1,801,769",1.32%,new orleans pelicans,2023,82.0
1220,Duje Dukan,0.23,PF,24.0,NaN,"$525,093",0.75%,sacramento kings,2015,67.0
1224,Yante Maten,0.12,PF,22.0,ROS,"$14,211",0.01%,miami heat,2018,73.0
1232,Ben Moore,0.04,PF,23.0,TW,-,-,san antonio spurs,2018,75.0

In [145]:
joined_df = pd.merge(total_fantasy_points_per_Player,contract_df,on='player_name')
joined_df.head(10)

,player_name,fantasy_points,pos,age,contract_type,cap_hit,cap_hit_pct_league_cap,team,season
0,LeBron James,47918.6,PF,30.0,Maximum,"$20,644,400",32.74%,cleveland cavaliers,2014
1,LeBron James,47918.6,PF,31.0,Maximum,"$22,970,500",32.82%,cleveland cavaliers,2015
2,LeBron James,47918.6,PF,32.0,Maximum,"$30,963,450",32.89%,cleveland cavaliers,2016
3,LeBron James,47918.6,PF,33.0,Maximum,"$33,285,709",33.59%,cleveland cavaliers,2017
4,LeBron James,47918.6,PF,34.0,Maximum,"$35,654,150",35.00%,los angeles lakers,2018
5,LeBron James,47918.6,PF,35.0,Maximum,"$37,436,858",34.30%,los angeles lakers,2019
6,LeBron James,47918.6,PF,36.0,Maximum,"$39,219,566",35.94%,los angeles lakers,2020
7,LeBron James,47918.6,PF,37.0,Maximum-extension,"$41,180,544",36.63%,los angeles lakers,2021
8,LeBron James,47918.6,PF,38.0,Maximum-extension,"$44,474,988",35.97%,los angeles lakers,2022
9,LeBron James,47918.6,PF,39.0,Maximum-extension,"$47,607,350",35.00%,los angeles lakers,2023